/* Corps de la page : Flexbox pour organiser le header, le main et le footer */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}
body{
	height: 100vh;
}

/* Conteneur principal entre header et footer */
main {
    flex: 2; /* Prend tout l’espace disponible entre le header et le footer */
    display: flex; /* Flexbox pour centrer le contenu */
    flex-direction: column;
    justify-content: flex-start; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    padding: 20px;
    background-color: #f9f9f9;
    height: 100vh;
    overflow: scroll;
}

/* Footer toujours en bas */
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
